<title>Login</title>

<% if(user) { %>

  <form action="/logout" method="POST">
  <label for="email">user email: </label>
  <%= email %>
  <button type="submit">Logout</button>
  </form>

<% } else { %>

<form action="/login" method="POST">
  <a href="/register">Register</a>
  <a href="/login">Login</a>
</form>

<% } %>


