<title>Login</title>
<% if (user) { %>
  <form action="/logout" method="POST">
    <h4 align="center">
      <label for="email">user email: </label>
      <%= user.email %>
      <br>
      <button type="submit">Logout</button>
    </h4>
  </form>
<% } else { %>
<form action="/login" method="POST">
  <h4 align="center">
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </h4>
</form>
<% } %>


