<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<body>
  <header>
    <% include ./partials/_header.ejs %>
  </header>
  <ul>
  <% urls.forEach(function(url) { %>
    <li><%= url %></li>
    <form method="POST" action="/urls/<%= url[0] %>/delete">
      <a href="/urls/<%=url[0]%>">Edit</a>
      <button type="submit">Delete</button>
    </form>
  <% }); %>
  <a href="#">Shorten a New URL</a>
</ul>
</body>
</html>