<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include ../partials/header %>
  </header>
  <ul>
  <% urls.forEach(function(url) { %>
    <li><%= url %></li>
  <% }); %>
  <a href="#">Shorten a New URL</a>
</ul>
</body>
</html>